* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    font-weight: 900;
}

body {
    background-image: url(./img/potOfGold.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}

.drawBox {
    width: 1000px;
    height: 500px;
    background-color: #00000080;
    margin: auto;
    margin-top: 10%;
    border-radius: 40px;
    border-style: solid;
    border-width: 4px;
    border-color: goldenrod;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h2 {
    text-align: center;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #009900;
    text-shadow: 2px 2px black;
}

#drawNumber {
    text-align: center;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    font-size: x-large;
    border-radius: 10px;
    background-color: goldenrod;
    /* color: #009900; */
}

#drawButton {
    text-align: center;
    display: block;
    position: relative;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::-webkit-input-placeholder {
    text-align: center;
}

#luckyNumber {
    text-align: center;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    text-shadow: 2px 2px goldenrod;
}

button {
    color: whitesmoke;
    font-size: x-large;
    width: 150px;
    background-color: #00ff0096;
    padding: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: #009900;
    border-radius: 20px;
}

#leprechaun {
    position: relative;
    bottom: -30%;
    width: 400px;
    transform: translateY(-50%);
}

p {
    background-color: #99999990;
    text-align: center;
    width: 400px;
    border-radius: 6px;
    margin: auto;
    margin-top: 25vh;
    padding: 20px;
    font-size: large;
} 